* {
    box-sizing: border-box;
}
.App {
    margin: 60px 0 0 60px;
}
.Display {
    width: 210px;
    height: 70px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
.ErrorCode {
    background: lightcoral;
}
.CurrentCode {
    background: lightgreen;
}
.Buttons {
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Buttons button {
    width: 65px;
    height: 40px;
    margin-bottom: 5px;
}